OpenSOA-Book/Chapter10/repository/conf/opensoa/resources/schemas/CSVOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.apache.org/synapse/ns/csv" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.apache.org/synapse/ns/csv">
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="col" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="n" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="row"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="csv">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="col-defn"/>
				<xs:element ref="data" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="col-defn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="col" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="n" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="col">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TransactionID"/>
								<xs:enumeration value="SalesOrderId"/>
								<xs:enumeration value="Date"/>
								<xs:enumeration value="Note"/>
								<xs:enumeration value="CustomerID"/>
								<xs:enumeration value="CustomerName"/>
								<xs:enumeration value="AddressLine1"/>
								<xs:enumeration value="AddressLine2"/>
								<xs:enumeration value="City"/>
								<xs:enumeration value="State"/>
								<xs:enumeration value="Zip"/>
								<xs:enumeration value="ContactName"/>
								<xs:enumeration value="ContactPhone"/>
								<xs:enumeration value="ContactEmail"/>
								<xs:enumeration value="Item"/>
								<xs:enumeration value="Price"/>
								<xs:enumeration value="Qty"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
