OpenSOA-Book/Chapter10/repository/conf/opensoa/resources/schemas/jBPMResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns="opensoa.order.response.simple" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="opensoa.order.response.simple">
	<xs:element name="TransactionID">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="1001"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Status">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Approved"/>
				<xs:element ref="CommittedDeliveryDt"/>
				<xs:element ref="Note"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CON0095678"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Order"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerID"/>
				<xs:element ref="CustomerReferenceID"/>
				<xs:element ref="PO"/>
				<xs:element ref="TransactionID"/>
				<xs:element ref="Status"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Note">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="This is a note."/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerReferenceID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CommittedDeliveryDt">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Approved">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Yes"/>
				<xs:enumeration value="No"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
