OpenSOA-Book/Chapter10/repository/conf/opensoa/resources/schemas/ubl1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2">

	<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="file:./repository/conf/opensoa/resources/schemas/ubl2.xsd"/>

	<!--
	<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="ubl2.xsd"/>
	-->
	<xs:element name="TransactionConditions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:Description"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaxScheme">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:ID"/>
				<xs:element ref="cbc:TaxTypeCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SellersItemIdentification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:ID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SellerSupplierParty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:CustomerAssignedAccountID"/>
				<xs:element ref="Party"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestedDeliveryPeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:StartDate"/>
				<xs:element ref="cbc:StartTime"/>
				<xs:element ref="cbc:EndDate"/>
				<xs:element ref="cbc:EndTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:PriceAmount"/>
				<xs:element ref="cbc:BaseQuantity"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PostalAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:StreetName"/>
				<xs:element ref="cbc:BuildingName"/>
				<xs:element ref="cbc:BuildingNumber"/>
				<xs:element ref="cbc:CityName"/>
				<xs:element ref="cbc:PostalZone"/>
				<xs:element ref="cbc:CountrySubentity"/>
				<xs:element ref="AddressLine"/>
				<xs:element ref="Country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartyTaxScheme">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:RegistrationName"/>
				<xs:element ref="cbc:CompanyID"/>
				<xs:element ref="cbc:ExemptionReason"/>
				<xs:element ref="TaxScheme"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartyName">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:Name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Party">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PartyName"/>
				<xs:element ref="PostalAddress"/>
				<xs:element ref="PartyTaxScheme"/>
				<xs:element ref="Contact"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OriginatorCustomerParty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Party"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:Note"/>
				<xs:element ref="LineItem" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:ID"/>
				<xs:element ref="cbc:SalesOrderID"/>
				<xs:element ref="cbc:LineStatusCode"/>
				<xs:element ref="cbc:Quantity"/>
				<xs:element ref="cbc:LineExtensionAmount"/>
				<xs:element ref="cbc:TotalTaxAmount"/>
				<xs:element ref="Price"/>
				<xs:element ref="Item"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:Description"/>
				<xs:element ref="cbc:Name"/>
				<xs:element ref="BuyersItemIdentification"/>
				<xs:element ref="SellersItemIdentification"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeliveryTerms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:SpecialTerms"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeliveryAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:StreetName"/>
				<xs:element ref="cbc:BuildingName"/>
				<xs:element ref="cbc:BuildingNumber"/>
				<xs:element ref="cbc:CityName"/>
				<xs:element ref="cbc:PostalZone"/>
				<xs:element ref="cbc:CountrySubentity"/>
				<xs:element ref="AddressLine"/>
				<xs:element ref="Country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Delivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeliveryAddress"/>
				<xs:element ref="RequestedDeliveryPeriod"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Country">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:IdentificationCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contact">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:Name"/>
				<xs:element ref="cbc:Telephone"/>
				<xs:element ref="cbc:Telefax"/>
				<xs:element ref="cbc:ElectronicMail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuyersItemIdentification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:ID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuyerCustomerParty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:CustomerAssignedAccountID"/>
				<xs:element ref="cbc:SupplierAssignedAccountID"/>
				<xs:element ref="Party"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AnticipatedMonetaryTotal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:LineExtensionAmount"/>
				<xs:element ref="cbc:PayableAmount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddressLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:Line"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
