OpenSOA-Book/Chapter10/repository/conf/opensoa/resources/schemas/UBLSimpleResponse1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2">
	<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="UBLSimpleResponse2.xsd"/>
	<xs:element name="SellerSupplierParty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:CustomerAssignedAccountID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:ID"/>
				<xs:element ref="cbc:SalesOrderID"/>
				<xs:element ref="cbc:IssueDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuyerCustomerParty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:CustomerAssignedAccountID"/>
				<xs:element ref="cbc:SupplierAssignedAccountID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
