OpenSOA-Book/Chapter10/repository/conf/opensoa/resources/schemas/UBLSimpleResponse2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2">
	<xs:element name="UBLVersionID" type="xs:decimal"/>
	<xs:element name="SupplierAssignedAccountID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SalesOrderID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Note">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IssueDate" type="xs:date"/>
	<xs:element name="ID" type="xs:short"/>
	<xs:element name="CustomerAssignedAccountID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AcceptedIndicator" type="xs:boolean"/>
</xs:schema>
