OpenSOA-Book/Chapter08/8.7EsperSCA/src/main/resources/EsperManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EsperManagerService" targetNamespace="http://esper.opensoa/"
  xmlns:tns="http://esper.opensoa/" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:SOAP11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    
    <xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="processEvent">
        <xs:sequence>
          <xs:element name="processInstanceId" type="xs:long"/>
          <xs:element minOccurs="0" name="processName" type="xs:string"/>
          <xs:element name="processVersion" type="xs:long"/>          
          <xs:element maxOccurs="unbounded" minOccurs="0" name="props" nillable="true"
            type="property"/>
          <xs:element name="state" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="property">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" type="xs:string"/>
          <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    
    <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified"
      targetNamespace="http://esper.opensoa/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import/>
      <xs:element name="sendProcessStartEndEvent">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="arg0" nillable="true" type="processEvent"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sendProcessStartEndEventResponse">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
    
  </wsdl:types>
  
  <wsdl:message name="sendProcessStartEndEvent">
    <wsdl:part name="sendProcessStartEndEvent" element="tns:sendProcessStartEndEvent"> </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="sendProcessStartEndEventResponse">
    <wsdl:part name="sendProcessStartEndEventResponse"
      element="tns:sendProcessStartEndEventResponse"> </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="EsperManager">
    <wsdl:operation name="sendProcessStartEndEvent">
      <wsdl:input message="tns:sendProcessStartEndEvent"> </wsdl:input>
      <wsdl:output message="tns:sendProcessStartEndEventResponse"> </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="EsperManagerBinding" type="tns:EsperManager">
    <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendProcessStartEndEvent">
      <SOAP:operation/>

      <wsdl:input>
        <SOAP:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <SOAP:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EsperManagerService">

    <wsdl:port name="EsperManagerPort" binding="tns:EsperManagerBinding">
      <SOAP:address location="http://192.168.2.103:8085/EsperManagerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
